In [2]:
import sqlalchemy
from sqlalchemy.engine import URL

server = '138.26.48.83'
hostname = 'Team5'
database = 'Team5DB'
username = 'Team5'
password = 'team5'

# cnxn_str = {'DRIVER={SQL Server};SERVER='+server
# +';DATABASE='+database
# +';UID='+username
# +';PWD='+password} 

cnxn_str = str('postgresql://'+username+':'+password+"@"+server+'/'+database)
# print(cnxn_str)
# cnxn_url = URL.create("postgresql+psycopg2", )

engine = sqlalchemy.create_engine(cnxn_str)
engine

Engine(postgresql://Team5:***@138.26.48.83/Team5DB)

In [3]:
# ALL EXISTING TABLES IN SERVER AS DF

import pandas as pd

hvacdf = pd.DataFrame(pd.read_sql(sql='SELECT * FROM hvac', con=engine)).sort_values(by=['time'])
electricdf = pd.DataFrame(pd.read_sql(sql='SELECT * FROM electric', con=engine)).sort_values(by=['time'])
waterdf = pd.DataFrame(pd.read_sql(sql='SELECT * FROM water', con=engine)).sort_values(by=['time'])
eventsdf = pd.DataFrame(pd.read_sql(sql='SELECT * FROM events', con=engine)).sort_values(by=['time'])

engine.table_names()

/var/folders/cl/m2k_skvn36s6c00g11sbr4600000gn/T/ipykernel_37501/646963195.py:10: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['hvac', 'electric', 'water', 'events']

In [ ]:
# JSON FOMRATTING FOR LUKE

# import pandas as pd
# import sqlalchemy
# from sqlalchemy.engine import URL

# cnxn_str = str('postgresql://Team5:team5@138.26.48.83/Team5DB')

# engine = sqlalchemy.create_engine(cnxn_str)

# hvacdf = pd.DataFrame(pd.read_sql(sql='SELECT * FROM hvac', con=engine)).sort_values(by=['time'])
hvacdf.to_json('hvacdf.json', orient='index',indent=2)
# electricdf = pd.DataFrame(pd.read_sql(sql='SELECT * FROM electric', con=engine)).sort_values(by=['time'])
electricdf.to_json('electricdf.json', orient='index',indent=2)
# waterdf = pd.DataFrame(pd.read_sql(sql='SELECT * FROM water', con=engine)).sort_values(by=['time'])
waterdf.to_json('waterdf.json', orient='index',indent=2)
# eventsdf = pd.DataFrame(pd.read_sql(sql='SELECT * FROM events', con=engine)).sort_values(by=['time'])
eventsdf.to_json('eventsdf.json', orient='index',indent=2)

          id                time                    type  status
0        812 2022-05-11 19:07:00                  fridge    True
1        813 2022-05-11 10:58:00              door_front    True
2        814 2022-05-11 10:58:30              door_front   False
3        815 2022-05-11 07:01:00              door_front    True
4        816 2022-05-11 07:01:30              door_front   False
...      ...                 ...                     ...     ...
29837  30649 2022-11-09 21:00:00                 htwater    True
29838  30650 2022-11-09 21:30:00              dishwasher   False
29839  30651 2022-11-09 21:30:00                    bath   False
29840  30652 2022-11-09 21:00:00  kitchen_overhead_light   False
29841  30653 2022-11-10 19:07:00                  fridge   False

[29842 rows x 4 columns]

In [4]:
# CREATING WEATHER CLASS

from datetime import datetime, timedelta
import meteostat as ms
from meteostat import units

class weather:
    def __init__(self, loc_code: str='72228', start: datetime=(datetime.now()-timedelta(days=1)), end: datetime=datetime.now(), metrics=units.imperial) -> None:
        """A class that handles instantiating meteostat classes

        Args:
            loc_code (str, optional): A string of numbers representing the location code to get weather data from
            start (datetime, optional): A datetime to define the start of fetching data from
            end (datetime, optional): A datetime to define the end of fetching data
            metrics (units, optional): units.imperial
        """
        self.loc_code = loc_code
        self.start = start
        self.end = end
        self.metric = metrics

    def get_hourly(self):
        """Gets hourly datapoints of weather

        Returns:
            DataFrame: A pandas dataframe of hourly datapoints
        """
        temp = ms.Hourly(self.loc_code, self.start, self.end)
        return temp.convert(self.metric).fetch()

    def get_daily(self):
        """Gets daily datapoints of weather

        Returns:
            DataFrame: A pandas dataframe of daily datapoints
        """
        temp = ms.Daily(self.loc_code, self.start, self.end)
        return temp.convert(self.metric).fetch()
    
    def get_monthly(self):
        """Gets monthly datapoints of weather

        Returns:
            Dataframe: A pandas dataframe of monthly weather
        """
        temp = ms.Monthly(self.loc_code, self.start, self.end)
        return temp.convert(self.metric).fetch()

In [5]:
# HOURLY WEATHER TO DF

w = weather(start=datetime(2022, 5, 11))
weatherdf = w.get_hourly()
weatherdf = pd.DataFrame(weatherdf["temp"])
weatherdf

                     temp
time
2022-05-11 00:00:00  75.0
2022-05-11 01:00:00  70.0
2022-05-11 02:00:00  69.1
2022-05-11 03:00:00  68.0
2022-05-11 04:00:00  68.0
...                   ...
2022-11-25 13:00:00  55.8
2022-11-25 14:00:00  56.1
2022-11-25 15:00:00  56.8
2022-11-25 16:00:00  59.0
2022-11-25 17:00:00  61.0

[4770 rows x 1 columns]

In [14]:
class hvac:
    '''
    while timestep is less than now:
    if inside temp is +/- 2 degree of target temp 
        hvac on
        hvac event to df
        hvac tmeps to df

        inside temp +/- .5 degree
    if house is closed:
        inside temp +/- ((((outside temp - target temp)/10)*2)/120)
    if house is open:
        inside temp +/- ((((outside temp - target temp)/10)*2)/24)
    timestep += 30 seconds

    if insdie tmep >2 of target temp
        hvac on
        inside temp += .5/30
    else
        hvac off
    if house closed
        inside temp += 2 deg per 10 degree per hour
    ifi house open
        inside tmep += 2 deg per 10 degree per 5 min
    '''
    def __init__(self, inside_temp=68, outside_temp=75, target_temp=68, starttime=datetime(2022, 5, 11), endtime=datetime(2022, 11, 10)) -> None:
        self.inside_temp = inside_temp
        self.outside_temp = outside_temp
        self.target_temp = target_temp
        self.starttime = starttime
        self.endtime = endtime
        self.house_open = False

        self.weatherdf = weatherdf # predefined in earlier cell
        self.electricdf = pd.DataFrame({'cost': [], 'time': []})
        self.eventsdf = pd.DataFrame({'time': [], 'type': [], 'status': []}) # predefined in earlier cell
        self.hvacdf = pd.DataFrame({'time': [], 'interiortemp': [], 'exteriortemp': [], 'targettemp': []})

        self.ison = False
        self._ison = False

    def get_eventsdf(self):
        return self.eventsdf

    def get_weatherdf(self):
        return self.weatherdf

    def get_electricdf(self):
        return self.electricdf

    def get_hvacdf(self):
        return self.hvacdf

    def add_hvacdf(self):
        self.hvacdf.loc[len(self.hvacdf)] = [1,2,3,4]
    
    def add_eventsdf(self):
        self.eventsdf.loc[len(self.eventsdf)] = [1,2,3]

    def sim(self):
        while self.starttime < self.endtime:

            # print(self.starttime)

            if abs(self.inside_temp - self.target_temp) > (2): # turning hvac on
                # print('HVAC TURN ON')
                # print('time: %s, inside temp: %s, outside temp: %s' % (self.starttime, self.inside_temp, self.outside_temp))

                self.ison = True
                if self.ison != self._ison:
                    self._ison = True
                    self.eventsdf.loc[len(self.eventsdf)] = [self.starttime, 'hvac', self.ison]
                    self.electricdf.loc[len(self.electricdf)] = [(3500/120), self.starttime]
                    self.hvacdf.loc[len(self.hvacdf)] = [self.starttime, self.inside_temp, self.outside_temp, self.target_temp]

                if (self.outside_temp - self.target_temp) > 0:
                    self.inside_temp -= 0.5
                elif (self.outside_temp - self.target_temp) < 0:
                    self.inside_temp += 0.5
                else:
                    print('ISSUE HERE')
                    
            else: # turning hvac off
                
                # print("HVAC TURN OFF")
                # print('time: %s, inside temp: %s, outside temp: %s' % (self.starttime, self.inside_temp, self.outside_temp))

                self.ison = False
                if self.ison != self._ison:
                    self._ison = False
                    self.eventsdf.loc[len(self.eventsdf)] = [self.starttime, 'hvac', self.ison]
                    self.hvacdf.loc[len(self.hvacdf)] = [self.starttime, self.inside_temp, self.outside_temp, self.target_temp]

            if self.house_open == False: # if house is closed
                self.inside_temp += ((((self.outside_temp - self.target_temp)/10)*2)/120)
            if self.house_open == True: # if house is open
                self.inside_temp += ((((self.outside_temp - self.target_temp)/10)*2)/24)
                # print('time: %s, house_open: %s, hvac on?: %s, inside temp: %s, outside temp: %s' % (self.starttime, self.house_open, self.ison, self.inside_temp, self.outside_temp))
            
            '''
            outside temp = weather time
            '''
            self.outside_temp = ms.Hourly('72228', datetime(self.starttime.year, self.starttime.month, self.starttime.day, self.starttime.hour), datetime(self.starttime.year, self.starttime.month, self.starttime.day, self.starttime.hour)).convert(units.imperial).fetch()['temp'].iloc[0]
            self.starttime += timedelta(seconds=30)

In [15]:
# foo = hvac(starttime=datetime(2022, 11, 1, 23, 30))
foo = hvac()
# foo.sim()
# foo.get_hvacdf()

In [16]:
print("STARTING SIMULATION...")
foo.sim()
print("DONE WITH SIM")


print("STARTING HVAC CSV...")
foo.get_hvacdf().to_csv('hvac.csv')
print("DONE WITH HVAC CSV")

print("STARTING ELECTRIC CSV...")
foo.get_electricdf().to_csv('electricdf.csv')
print("DONE WITH ELECTRIC CSV")

print("STARTING WEATHER CSV...")
foo.get_weatherdf().to_csv('weather.csv')
print("DONE WITH WEATHER CSV")

print("STARTING EVENTS CSV...")
foo.get_eventsdf().to_csv('events.csv')
print("DONE WITH EVENTS CSV")

STARTING SIMULATION...
DONE WITH SIM
STARTING HVAC CSV...
DONE WITH HVAC CSV
STARTING ELECTRIC CSV...
DONE WITH ELECTRIC CSV
STARTING WEATHER CSV...
DONE WITH WEATHER CSV
STARTING EVENTS CSV...
DONE WITH EVENTS CSV

In [ ]:
# ms.Hourly('72228', (datetime.now().year, datetime.now().month, datetime.now().day, datetime.now().hour))
ms.Hourly('72228', datetime(datetime.now().year, datetime.now().month, datetime.now().day, datetime.now().hour), datetime(datetime.now().year, datetime.now().month, datetime.now().day, (datetime.now().hour))).convert(units.imperial).fetch()['temp'].iloc[0]

56.8