In [19]:
import sqlalchemy
from sqlalchemy.engine import URL

server = '138.26.48.83'
hostname = 'Team5'
database = 'Team5DB'
username = 'Team5'
password = 'team5'

# cnxn_str = {'DRIVER={SQL Server};SERVER='+server
# +';DATABASE='+database
# +';UID='+username
# +';PWD='+password} 

cnxn_str = str('postgresql://'+username+':'+password+"@"+server+'/'+database)
# print(cnxn_str)
# cnxn_url = URL.create("postgresql+psycopg2", )

engine = sqlalchemy.create_engine(cnxn_str)
engine

Engine(postgresql://Team5:***@138.26.48.83/Team5DB)

In [31]:
# ALL EXISTING TABLES IN SERVER AS DF

import pandas as pd

hvacdf = pd.DataFrame(pd.read_sql(sql='SELECT * FROM hvac', con=engine)).sort_values(by=['time'])
electricdf = pd.DataFrame(pd.read_sql(sql='SELECT * FROM electric', con=engine)).sort_values(by=['time'])
waterdf = pd.DataFrame(pd.read_sql(sql='SELECT * FROM water', con=engine)).sort_values(by=['time'])
eventsdf = pd.DataFrame(pd.read_sql(sql='SELECT * FROM events', con=engine)).sort_values(by=['time'])

engine.table_names()

In [45]:
hvacdf
electricdf
waterdf
eventsdf

          id                time                    type  status
0        812 2022-05-11 19:07:00                  fridge    True
1        813 2022-05-11 10:58:00              door_front    True
2        814 2022-05-11 10:58:30              door_front   False
3        815 2022-05-11 07:01:00              door_front    True
4        816 2022-05-11 07:01:30              door_front   False
...      ...                 ...                     ...     ...
29837  30649 2022-11-09 21:00:00                 htwater    True
29838  30650 2022-11-09 21:30:00              dishwasher   False
29839  30651 2022-11-09 21:30:00                    bath   False
29840  30652 2022-11-09 21:00:00  kitchen_overhead_light   False
29841  30653 2022-11-10 19:07:00                  fridge   False

[29842 rows x 4 columns]

In [65]:
# CREATING WEATHER CLASS

from datetime import datetime, timedelta
import meteostat as ms
from meteostat import units

class weather:
    def __init__(self, loc_code: str='72228', start: datetime=(datetime.now()-timedelta(days=1)), end: datetime=datetime.now(), metrics=units.imperial) -> None:
        """A class that handles instantiating meteostat classes

        Args:
            loc_code (str, optional): A string of numbers representing the location code to get weather data from
            start (datetime, optional): A datetime to define the start of fetching data from
            end (datetime, optional): A datetime to define the end of fetching data
            metrics (units, optional): units.imperial
        """
        self.loc_code = loc_code
        self.start = start
        self.end = end
        self.metric = metrics

    def get_hourly(self):
        """Gets hourly datapoints of weather

        Returns:
            DataFrame: A pandas dataframe of hourly datapoints
        """
        temp = ms.Hourly(self.loc_code, self.start, self.end)
        return temp.convert(self.metric).fetch()

    def get_daily(self):
        """Gets daily datapoints of weather

        Returns:
            DataFrame: A pandas dataframe of daily datapoints
        """
        temp = ms.Daily(self.loc_code, self.start, self.end)
        return temp.convert(self.metric).fetch()
    
    def get_monthly(self):
        """Gets monthly datapoints of weather

        Returns:
            Dataframe: A pandas dataframe of monthly weather
        """
        temp = ms.Monthly(self.loc_code, self.start, self.end)
        return temp.convert(self.metric).fetch()

In [67]:
# HOURLY WEATHER TO DF

w = weather(start=datetime(2022, 5, 11))
weatherdf = w.get_hourly()
weatherdf = pd.DataFrame(weatherdf["temp"])
weatherdf

                     temp
time
2022-05-11 00:00:00  75.0
2022-05-11 01:00:00  70.0
2022-05-11 02:00:00  69.1
2022-05-11 03:00:00  68.0
2022-05-11 04:00:00  68.0
...                   ...
2022-11-24 19:00:00  71.1
2022-11-24 20:00:00  67.3
2022-11-24 21:00:00  67.1
2022-11-24 22:00:00  64.4
2022-11-24 23:00:00  61.5

[4752 rows x 1 columns]

In [ ]:
'''
iterate every 30 seconds
for timestep in range()
    if inside temp is +/- 2 degree of target temp 
        hvac on
        hvac event to df
        hvac tmeps to df
        inside temp +/- .5 degree
    if house is closed:
        inside temp +/- ((((outside temp - target temp)/10)*2)/120)
    if house is open:
        inside temp +/- ((((outside temp - target temp)/10)*2)/24)
'''